$primary-pink: hsl(322, 100%, 66%);
$neutral-vp-cyan: hsl(193, 100%, 96%);
$neutral-vd-cyan: hsl(192, 100%, 9%);
$neutral-grayish-blue: hsl(208, 11%, 55%);
$white: hsl(0, 0%, 100%);

$open-sans: "Open Sans", sans-serif;
$poppins: "Poppins", sans-serif;
